<div class= "container">


  <div id="main" class = "main_top_margin">
    <h2>Can you guess the name?</h2>
    <br>
    <br>
    <div id="stack_list">
      <ul>
        <% @user_stacks.each do |stack| %>
        <li>
          <h3><a href="/show/<%= stack.id %>" ><%= stack.name %></a></h3>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div id= "footer" class = "footer_sign_up">

    <form action="/logout" method="POST">
        <input type ="submit" value="logout">
    </form>
  </div>

</div>
