<div class= "container">
  <h1>EDA Face Cards</h1>


  <form action="/login" method="POST">
    Email: <input type="text" name="email" placeholder="email">
    Password: <input type="password" name="password" placeholder="password">
    <input type ="submit" value="login">
  </form>

  <p>If you don't have an account then sign up.</p>
  <form action="/sign_up" method="get">
      <input type="submit" value="Sign up">
  </form>

</div>





