<div class= "container">
  <div id= "head">
    <h1>EDA Face Cards</h1>
  </div>

  <div id= "main">
    <img src= "/images/libby.png">

  </div>



<div id= "footer">

  <div id= "login">

    <form action="/login" method="POST">
      Email: <input type="text" name="email" placeholder="email">
      Password: <input type="password" name="password" placeholder="password">
      <input type ="submit" value="login">
    </form>
    <br>
    <br>
    <%= session[:error] if session[:error] %>

  </div>
    <p>If you don't have an account then sign up.</p>
  <form action="/sign_up" method="get">
      <input type="submit" value="Sign up">
  </form>

  <% if @errors %>
    <p><%= @errors %></p>
  <% end %>
</div>
</div>





