<!DOCTYPE html>
  <html>
    <head>
      <title>EDA Face Cards</title>
  </head>

  <body>
    <div class= "container">


      <div id= "main">
        <img src= "/images/roa.gif">

      </div>


      <div id= "footer">
        <div id= "login">
          <%= session[:error] if session[:error] %>
          <br>
          <br>

          <form class="pure-form" action="/login" method="POST" >
            <fieldset>
              <input type="text" name="email" placeholder="Email">
              <input type="password" name="password" placeholder="Password">
              <input type ="submit" value="Login">
            </fieldset>
          </form>
          <br>
        </div>

        <div id='sign-up'>
          <p>If you don't have an account then sign up.</p>
          <br>

          <form action="/sign_up" method="get">
              <input type="submit" value="Sign up">
          </form>

          <% if @errors %>
            <p><%= @errors %></p>
          <% end %>
        </div>

      </div>
    </div>
  </body>
</html>





