<div class = "container">
  <p>Begin!</p>

  <div class= "container-fluid">
    <div id = "math">
      <img src = <%= @photo %> >
    </div>
  </div>
  <form action="/show" method="get">
    <input type="text" name="name" placeholder="first name">
    <input type="submit" value="Who is this?">


    <form action="/logout" method="POST">
      <input type ="submit" value="logout">
    </form>
  </div>
</div>
