<div class = "container">
  <p>Begin!</p>

  <div class= "container-fluid">
    <div id = "math">
      <img src = <%= @photo %> >
    </div>
  </div>



    <form action="/logout" method="POST">
      <input type ="submit" value="logout">
    </form>
  </div>
</div>