<p>Begin!</p>

<div class= "container-fluid">
  <div id = "math">
    <img src = "http://media.giphy.com/media/ccQ8MSKkjHE2c/giphy.gif">
  </div>
</div>


<div id="sign_out">
  <form action='/sign_out' method="get">
    <input type="submit" value="sign out">
  </form>
</div>