<!DOCTYPE html>
  <html>
    <head>
      <title>EDA Face Cards - Sign Up</title>
  </head>
  <body>

    <div class= "container">


      <div id= "main" class = "main_top_margin">



        <div id = "form-signup">
          <form class="pure-form" action="/sign_up" method="POST">
            <fieldset>

              <label for="email">Email:</label>
              <input type="text" name="email" placeholder="Email">

              <label for="password">Password:</label>
              <input type="password" name="password" placeholder="Password">

              <input type="submit" value="Sign Up">
             </fieldset>
          </form>
        </div>


        <% if @errors %>
          <p><%= @errors %></p>
        <% end %>

        <!-- <img src= "/images/libby.png"> -->

      </div>

      <div id= "footer" class = "footer_sign_up">

      </div>

    </div>
  </body>
</html>
